<h1>New Genre</h1>

{{!This is the url the form is submitted against}}
<form action="/genres/upsert" role="form" method="post"> {{!ensuring the form is submitted with the post method}}
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    {{#if genre}}
    <div>
        <h2>{{genre.genre_title}}</h2>
        <input type="hidden" name="id" value="{{genreIndex}}">
    </div>
    {{/if}}
    <div>
        <label for="genre_name">Genre</label>
        <input type="text" id="genre_name" name="genre_title" {{#if genre}}value="{{genre.genre_title}}" {{/if}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>