<h1>New Genre</h1>

<form action="/genres/upsert" role="form" method="post">
    <div>
        <label for="genre_title">Genre</label>
        <input type="text" id="genre_title" name="genre_title" {{#if genre}}value="{{genre.genre_title}}" {{/if}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>