<h1>Genres</h1>
<a href="/Genres/form">Create a new Genre</a>
{{#each genres}}
<li>
    {{! Referencing column names from the database - looks good}}
    {{this.id}} - {{this.name}}
    <a href="/Genres/form?id={{this.id}}">Edit</a>
</li>
{{/each}}